@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Spectral:wght@400;700;800&display=swap");

body {
  font-family: "Spectral", serif;
}

header {
  background-color: #ffc017;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 190px;
  border-bottom: 2px solid black;
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffc107;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

nav ul li {
  padding: 0 0.8em;
  list-style-type: none;
}

nav button {
  background-color: black;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 0.9em;
}

section {
  margin: 0px 0 0 190px;
  display: flex;
  justify-content: space-between;
}

section h1 {
  font-size: 7em;
  padding: 0.5em 0 0.2em 0;
}

/* section div {
  width: 600px;
} */

section div p {
  font-size: 1.5em;
  width: 65%;
  padding-bottom: 2.5em;
}

section div button {
  font-size: 1.2em;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 45px;
  margin-bottom: 25px;
}

/* MAIN */

main h3 {
  margin: 50px 190px 15px 190px;
}

main section {
  margin: 0px 190px 50px 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  align-items: center;
  justify-content: center;
}

main section div p {
  font-size: 2.5em;
  width: 100%;
  padding: 0;
}

.card {
  display: flex;
  align-items: flex-start;
  max-width: 400px;
  padding-top: 20px;
}

.num {
  font-size: 2em;
  font-weight: 800;
  opacity: 30%;
}

.space {
  margin-left: 25px;
}

.space div {
  display: flex;
  align-items: center;
}

.space img {
  border-radius: 50px;
  margin-right: 10px;
  width: 10%;
}

.font {
  font-size: 0.8em;
}

.gray {
  opacity: 50%;
}

.pad {
  padding: 15px 0;
  font-size: 1em;
  font-weight: 700;
}

/* schede */
main article {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
}

hr {
  margin-bottom: 50px;
}

main h3 {
  font-size: 0.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

main h3 img {
  width: 30px;
}

.first-div {
  display: flex;
  margin: 20px 0;
}

.second-div {
  width: 450px;
}

.third-div {
  display: flex;
  align-items: center;
}

.third-div p {
  font-weight: 700;
  font-size: 0.8em;
}

.third-div img {
  width: 5%;
  margin-right: 10px;
  border-radius: 50px;
}

.four {
  margin: 10px 0;
}

.four h4 {
  font-weight: 700;
}

.four p,
.star p {
  color: rgb(115, 115, 115);
}

.img-schede img {
  width: 200px;
}
.star img {
  width: 10px;
  cursor: pointer;
}
/* aside */
aside {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container button {
  margin: 5px;
}

aside button {
  padding: 10px 15px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 3px;
  color: rgb(115, 115, 115);
  cursor: pointer;
}

aside h2 {
  margin: 10px 0;
  font-weight: 700;
}

.final {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.final p {
  margin: 5px 10px;
}

.final {
  padding-top: 20px;
  border-top: 1px solid lightgray;
  color: rgb(115, 115, 115);
  cursor: pointer;
}

/* divisione pagina */
.page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
